<!DOCTYPE html>
<html>
    <head>
        <title>Random Football Transfer Generator</title>
    </head>
    <body style="text-align: center;">
        <h1> Random Football Transfer Generator... thing?</h1>
        <br/>
        <form method="POST">
            <input type="checkbox" name="players_leagues" value="Bike">
            <label for="vehicle1"> English Premier League</label><br>
            <div class="reveal-if-active">
                <label for="which-dog">Good call. What's the name of your favorite dog?</label>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> Germany Bundesliga</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> Spanish La Liga</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> French Ligue 1</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> Italian Serie A</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> Rest of Europe</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> Rest of the World</label><br>
            <input type="submit" alue="Generate Bullshit">
        </form>
        <br/>
        <br/>
        <br/>
       
    <footer style="padding: 100px;">
        <p>By David Hulsman <a href="https://github.com/HavidDulsman">Visit my GitHub!</a></p>

    </footer>
</html>